html {
	font-family: "RobotoDraft", "Roboto", "Helvetica Neue", "Segoe UI", sans-serif;
}
body {
	text-align: center;
}
h1 {
	text-align: center;
}

p {
	text-align: center;
}
#login-button1 {
  background-color: #DBB68F;
}
.titleText {
  display: flex;
  align-items: center;
  text-align: center;
}
.ion-log-in {
  font-size: 15px;
}

.welcomeCard {
	width: 60%;
	font-size: 2em;
}
.codeContainer {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.displayBtn {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.stalker {
  position: absolute !important;
  right: 5px;
}

.loggedInMsg {
	text-align: center;
}
.buttonContainer, .buttonContainer a {
	display: flex;
	flex-flow: column;
	margin: 4%;
}
.buttonContainer button {
	margin: 2%;
}
.buttonContainer a button {
	margin: -2%;
}
.addByEmailContainer {
	display: block;
	margin: 4%;
	text-align: center;
}
.addByEmailContainer > span > button {
	margin-top: 2%;
	float: center;
}
.addByEmailContainer label {
	border-radius: 5px;
}
.welcomePage {
	background-size: cover;
	background-repeat: no-repeat;
}

.welcomePage h2, h3 {
	color: white;
}
a {
	text-decoration: no-underline;
	text-decoration: none;
}
.settingsPage {
	background-size: cover;
	text-align: center;
	text-align: center !important;
}
.personalInfo {
	background-color: white;
	opacity: .9;
}
.socialMediaInfo {
	background-color: white;
	opacity: .9;
}
.socialMediaInfo i {
	text-align: center !important;
	font-size: 2em;
}
.settingsSubmitBtn {
	background-color: white;
	text-align: center;
	margin: auto;
	opacity: .8;
	padding: 2%;
}
.card {
	border-radius: 10px;
	border-color: rebeccapurple;
	border-width: medium;
	border-style: outset;
	box-shadow: 1px 1px 1px;
}
.card .item-divider {
	background-color: #6d659b;
}
.card .item-divider span {
	color: white;
	font-size: 1.2em;
}
.card h5 {
	font-size: .9em;
}
.chatBox {
	font-size: 1.2em;
}
.chatRoom {
	background-color: #4b8bf4;
}
.platform-ios .manual-ios-statusbar-padding{
  padding-top:20px;
}
.manual-remove-top-padding{
  padding-top:0px;
}
.manual-remove-top-padding .scroll{
  padding-top:0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
  margin-left:-10px;
  margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
  border-radius:0px;
  border-left:0px;
  border-right: 0px;
}
.show-list-numbers-and-dots ul{
  list-style-type: disc;
  padding-left:40px;
}
.show-list-numbers-and-dots ol{
  list-style-type: decimal;
  padding-left:40px;
}
.thumb-cover{
  width:50px;
  height:50px;
  background-size:cover;
  border-radius: 50px;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 16px;
}
.item-avatar.item-avatar-big .item-content{
  padding-left: 80px;
}
.single-thumb.thumb-big-left{
  margin-left:0 !important;
}
.thumb-cover .thumb-big-left{
  width:50px;
  height:50px;
  background-size:cover;
  margin-left: -25px;
}
.thumb-cover .thumb-small-top{
  width:25px;
  height:25px;
  background-size:cover;
  margin-top: -50px;
  margin-left: 25px;
}
.thumb-cover .thumb-small-bottom{
  width:25px;
  height:25px;
  background-size:cover;
  margin-top: 0px;
  margin-left: 25px;
}
.image-cover{
  margin:0 auto;
  width:80px;
  height:80px;
  background-size:cover;
  border-radius: 80px;
  overflow: hidden;
}
.thumb-big-left{
  width:80px;
  height:80px;
  background-size:cover;
  margin-left: -40px;
}
.thumb-small-top{
  width:40px;
  height:40px;
  background-size:cover;
  margin-top: -80px;
  margin-left: 40px;
}
.thumb-small-bottom{
  width:40px;
  height:40px;
  background-size:cover;
  margin-top: 0px;
  margin-left: 40px;
}
/* message bubble */
.chat-message .item{
  border:none;
}
.message-bubble {
  display: inline-block;
  padding: 10px;
  border-radius: 14px;
  max-width: 200px;
}
.message-bubble.positive-bg{
  color: white !important;
  text-align: left;
}
.message-bubble:before {
  position: absolute;
  left: 64px;
  content: '';
  width: 0;
  height: 0;
  border-width: 7px 14px 7px 0;
  border-style: solid;
  border-color: transparent #f8f8f8 transparent;
}
.item-avatar-right .message-bubble:before {
  left: auto;
  right: 64px;
  border-width: 7px 0 7px 14px;
  border-color: transparent #387ef5 transparent;
}
/* cover image */
.cover-image{
  min-width: 40px;
  min-height: 40px;
  background-size:cover;
  border-radius:50%;
}
/* auth */
.item-input{
  padding-right:10px;
}
/* groups */
.groups .item-content{
  padding-right: 16px;
}
/* chats tab */
.chat-list{
  position: absolute;
  top: 16px;
  right: 20px;
  line-height: 36px;
}
