<ion-view title="Intro" hide-nav-bar="true" nav-transition="none" id="page1">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="page-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="page-slide24" style="background-color:#13135D;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h1 id="page-heading1" style="color:#FFFFFF;text-align:center;">Welcome to GetMe!</h1>
              <div id="page-markdown1" style="text-align:center; position: relative;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:20px;">The
                  <strong>best</strong> way to share your contact information.</p>
                <div style="text-align: center; color: #white;">
                  <div class="spacer" style="width: 300px; height: 30%;"></div>
                  <a href="#/login" ng-click="tutorialToggle()">never show this again</a></div>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page-slide27" style="background-color:#135D5A;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h1 id="page-heading2" style="color:#FFFFFF;text-align:center;">Log in and setup</h1>
              <div id="page-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:20px;">Once you log in, simply add your personal information in the
                  <strong>profile settings</strong> page.</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page-slide28" style="background-color:#268DAD;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h1 id="page-heading3" style="color:#FFFFFF;text-align:center;">Social Media</h1>
              <div id="page-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:20px;">You can add all your favorite social media usernames or profiles:</p>
              </div>
              <ion-list id="page-list3">
                <ion-item class="item-icon-left calm" id="page-list-item8">
                  <i class="icon ion-social-facebook"></i>Facebook profile</ion-item>
                <ion-item class="item-icon-left calm" id="page-list-item9">
                  <i class="icon ion-social-linkedin"></i>LinkedIn profile</ion-item>
                <ion-item class="item-icon-left calm" id="page-list-item10">
                  <i class="icon ion-social-snapchat"></i>Snapchat Id</ion-item>
                <ion-item class="item-icon-left calm" id="page-list-item11">
                  <i class="icon ion-social-instagram"></i>Instagram link</ion-item>
              </ion-list>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page-slide29" style="background-color:#4C3174;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h1 id="page-heading4" style="color:#FFFFFF;text-align:center;">Contact Details</h1>
              <div id="page-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:20px;">You may also add contact details for more formal occasions:</p>
              </div>
              <ion-list id="page-list4">
                <ion-item class="item-icon-left royal" id="page-list-item12">
                  <i class="icon ion-android-home"></i>Home address</ion-item>
                <ion-item class="item-icon-left royal" id="page-list-item13">
                  <i class="icon ion-briefcase"></i>Business address</ion-item>
                <ion-item class="item-icon-left royal" id="page-list-item14">
                  <i class="icon ion-android-mail"></i>P.O. Box</ion-item>
                <ion-item class="item-icon-left royal" id="page-list-item15">
                  <i class="icon ion-ios-telephone"></i>Work phone number</ion-item>
              </ion-list>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page-slide211" style="background-color:#5E58E4;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h1 id="page-heading6" style="color:#FFFFFF;text-align:center;">Share!</h1>
              <div id="page-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:20px;">When you meet a new
                  <strong>friend</strong>, press the
                  <strong>share</strong> button. Toggle what information you want them to see, and tap
                  <strong>share</strong> again.</p>
              </div>
              <div>
                <img src="img/introqr.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="width: 320px; height: 37px;"></div>
              <div id="page-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:20px;">Let them scan your
                  <strong>code</strong>.</p>
              </div>
              <div id="page-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:20px;">You're done!</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page-slide212" style="background-color:#45B39B;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h1 id="page-heading7" style="color:#FFFFFF;text-align:center;">Connected.</h1>
              <div id="page-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:20px;">You and your new friend are now sharing contact details. Share as litte, or as much as you like.</p>
              </div>
              <div id="page-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:20px;">You can always share
                  <strong>more</strong> later. :)</p>
              </div>
              <div class="spacer" style="width: 320px; height: 39px;"></div>
              <button id="page-button1" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-large button-full" ng-click="intro()">Get started!</button>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
